html {
  background-color: black;
}

body {
  color: white;
}

.link {
  color: aquamarine;
  font-size: 16px;
  text-decoration: none;
}

#main-banner, h1 {
  font-family: verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}
